= form_for @contact do |f|
  -if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :zipcode
    = f.text_field :zipcode
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :country
    = f.text_field :country
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :twitter
    = f.text_field :twitter
  .actions
    = f.submit 'Save'
